.writing {
    #date {
        text-align: left;
        color: #555;
        font-size: 11pt;
        font-style: italic;
        padding-top: 5px;
        padding-bottom: 15px;
    }
    .title {
        padding-top: 0px;
        font-size: 20pt;
        text-align: left;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-right: auto;
        margin-left: auto;
    } 
    h1 {
        font-weight: bold;
        font-size: 18pt;
        padding-bottom: 15px;
        padding-top: 20px;
    }
    h2 {
        font-size: 16pt;
        font-weight: bold;
        padding-top: 16px;
    }
    h3 {
        font-weight: bold;
    }
    .caption {
        font-size: 12pt;
        color: gray;
        margin-left: 20px;
        margin-right: 20px;
    }
    #center {
            text-align: center;
    }
    img {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
}

.archive-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        display: flex;
        align-items: center;
        padding-bottom: 6px;
    }
}

.archive-date {
    color: #555;
    min-width: 90px;
    text-align: right;
    margin-right: 20px;
    font-size: 10pt;
}

.note {
    .title {
        padding-top: 0px;
        padding-bottom: 20px;
        font-size: 20pt;
        text-align: center;
        margin-bottom: 0;
        margin-right: auto;
        margin-left: auto;
    }
}