---
sitemap: false
---


/*
  Common Variables

  Feel free to change!
*/

/* Fonts */
$main-font: Charter;
$heading-font: Charter;
$regular-font-size: 13pt; /*1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */

/*
  Color

  Make sure to leave color-scheme in `_config.yml` file empty for granular control
*/

$text-color: black;
$heading-color: black;
$link-color: #00008B;

@import "ed";
@import "syntax";
@import "posts";