---
sitemap: false
---

$main-font: Charter;
$heading-font: Charter;
$regular-font-size: 13pt; /*1.25em; /* 20px / 16px = 1.25em; support text resizing in all browsers */

$text-color: black;
$heading-color: black;
$link-color: #00008B;

@import "ed";
@import "syntax";
@import "posts";